<md-select
  ng-model="$ctrl.campaign.tsId"
  fb-focus="$ctrl.focus == 'ts'"
  ng-change="$ctrl.tsChanged()"
  ng-required="true"
  placeholder="Traffic Source"
  name="ts"
  class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
  tabindex="0"
  aria-label="Traffic Source"
  aria-disabled="false"
  role="listbox"
  aria-expanded="false"
  aria-multiselectable="false"
  id="select_66"
  aria-owns="select_container_67"
  aria-required="true"
  required="required"
  aria-invalid="true"
  ><md-select-value
    class="md-select-value md-select-placeholder"
    id="select_value_label_64"
    ><span>Traffic Source</span
    ><span class="md-select-icon" aria-hidden="true"></span
  ></md-select-value>
  <div
    class="md-select-menu-container"
    aria-hidden="true"
    id="select_container_67"
  >
    <md-select-menu class="_md"
      ><md-content class="_md">
        <!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5639445604728832"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_70"
          ><div class="md-text">
            50onRed
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5659313586569216"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_71"
          ><div class="md-text">
            7Search
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5732568548769792"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_72"
          ><div class="md-text">
            ADAMO
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5707702298738688"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_73"
          ><div class="md-text">
            AdColony
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5692462144159744"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_74"
          ><div class="md-text">
            AdRoll
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5769015641243648"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_75"
          ><div class="md-text">
            AdSupply
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5715999101812736"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_76"
          ><div class="md-text">
            AdWorldMedia
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5634472569470976"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_77"
          ><div class="md-text">
            Adblade
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5654313976201216"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_78"
          ><div class="md-text">
            Adcash
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5676073085829120"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_79"
          ><div class="md-text">
            Admob
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5664248772427776"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_80"
          ><div class="md-text">
            Adnium
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5644406560391168"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_81"
          ><div class="md-text">
            Adperium
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5667751425212416"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_82"
          ><div class="md-text">
            Adsterra
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5749328048029696"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_83"
          ><div class="md-text">
            Advertise.com
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5722646637445120"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_84"
          ><div class="md-text">
            Advertising.com
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5720147234914304"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_85"
          ><div class="md-text">
            Advmaker
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5682617542246400"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_86"
          ><div class="md-text">
            Airpush
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5687539843203072"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_87"
          ><div class="md-text">
            Amazon Ads
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5752754626625536"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_88"
          ><div class="md-text">
            Appflood
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5700305828184064"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_89"
          ><div class="md-text">
            Avazu
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5702666986455040"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_90"
          ><div class="md-text">
            Bidvertiser
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5636318331666432"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_91"
          ><div class="md-text">
            Bing Ads
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5656058538229760"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_92"
          ><div class="md-text">
            Blindclick
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5734055144325120"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_93"
          ><div class="md-text">
            BuzzCity
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5705241014042624"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_94"
          ><div class="md-text">
            CNET Content Solutions
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5741031244955648"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_95"
          ><div class="md-text">
            CPMoz
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5631986051842048"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_96"
          ><div class="md-text">
            Chartboost
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5668600916475904"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_97"
          ><div class="md-text">
            Content ad
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5710239819104256"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_98"
          ><div class="md-text">
            DNTX
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5760820306771968"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_99"
          ><div class="md-text">
            Dianomi
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5669544198668288"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_100"
          ><div class="md-text">
            Doublepimp
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5646239437684736"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_101"
          ><div class="md-text">
            Earnify
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5642554087309312"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_102"
          ><div class="md-text">
            Easy2
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5649050225344512"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_103"
          ><div class="md-text">
            Epom Market
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5681034041491456"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_104"
          ><div class="md-text">
            EroAdvertising
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5695159920492544"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_105"
          ><div class="md-text">
            Etarg.ru
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5735995932672000"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_106"
          ><div class="md-text">
            Exoclicks
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5730082031140864"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_107"
          ><div class="md-text">
            Facebook Ads
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5767281011326976"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_108"
          ><div class="md-text">
            Flix Media
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5714163003293696"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_109"
          ><div class="md-text">
            Go2Mobi
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5664902681198592"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_110"
          ><div class="md-text">
            Google Adwords
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5636026810761216"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_111"
          ><div class="md-text">
            Gravity
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5742796208078848"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_112"
          ><div class="md-text">
            Gunggo
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5712536552865792"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_113"
          ><div class="md-text">
            InMobi
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5701241594183680"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_114"
          ><div class="md-text">
            Instagram
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5648554290839552"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_115"
          ><div class="md-text">
            Instinctive Ads
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5724160613416960"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_116"
          ><div class="md-text">
            JuicyAds
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5679413765079040"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_117"
          ><div class="md-text">
            Lead Impact
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5725107787923456"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_118"
          ><div class="md-text">
            LeadBolt
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5672749318012928"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_119"
          ><div class="md-text">
            LeadSense
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5655869022797824"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_120"
          ><div class="md-text">
            Ligatus
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5745865499082752"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_121"
          ><div class="md-text">
            LinkSmart
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5685265389584384"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_122"
          ><div class="md-text">
            LinkedIn
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5671831268753408"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_123"
          ><div class="md-text">
            LookSmart
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5720929187397632"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_124"
          ><div class="md-text">
            MGID
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5697423099822080"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_125"
          ><div class="md-text">
            MarketGid
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5762637883244544"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_126"
          ><div class="md-text">
            Marktplaats
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5631383682678784"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_127"
          ><div class="md-text">
            Media Traffic
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5739407210446848"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_128"
          ><div class="md-text">
            MillennialMedia
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5757334940811264"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_129"
          ><div class="md-text">
            MoPub
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5073368378245120"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_130"
          ><div class="md-text">
            MobiAds
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5662543133540352"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_131"
          ><div class="md-text">
            NTENT
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5750790484393984"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_132"
          ><div class="md-text">
            Native Ads
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5639274879778816"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_133"
          ><div class="md-text">
            Nativly
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5706803308396544"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_134"
          ><div class="md-text">
            NewsCred
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5651124426113024"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_135"
          ><div class="md-text">
            Nster
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5717271485874176"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_136"
          ><div class="md-text">
            Octobird
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5746055551385600"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_137"
          ><div class="md-text">
            Onespot
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5723348596162560"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_138"
          ><div class="md-text">
            OpenX
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5685925472370688"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_139"
          ><div class="md-text">
            Others
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5684453372329984"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_140"
          ><div class="md-text">
            Outbrain
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5660980839186432"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_141"
          ><div class="md-text">
            Perfect Audience
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5684666375864320"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_142"
          ><div class="md-text">
            Perfect Market (Taboola)
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5676830073815040"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_143"
          ><div class="md-text">
            Pinterest Ads
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5737664527466496"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_144"
          ><div class="md-text">
            Plenty of Fish
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5652383656837120"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_145"
          ><div class="md-text">
            Plista
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5659118702428160"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_146"
          ><div class="md-text">
            PlugRush
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5757715179634688"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_147"
          ><div class="md-text">
            PocketMath
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5759409141579776"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_148"
          ><div class="md-text">
            Polar (MediaVoice)
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5729201025974272"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_149"
          ><div class="md-text">
            PopAds
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5730827476402176"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_150"
          ><div class="md-text">
            PopCash
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5638830484881408"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_151"
          ><div class="md-text">
            PopMyAds
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5691726094139392"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_152"
          ><div class="md-text">
            PopWin
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5726607939469312"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_153"
          ><div class="md-text">
            Popunder.net
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5636139285217280"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_154"
          ><div class="md-text">
            Propel Media
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5667908084563968"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_155"
          ><div class="md-text">
            Propeller
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5716646702350336"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_156"
          ><div class="md-text">
            Qwaya Ads
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5695872079757312"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_157"
          ><div class="md-text">
            Rapsio
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5641142922117120"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_158"
          ><div class="md-text">
            RealGravity
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5713573250596864"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_159"
          ><div class="md-text">
            Redirect.com
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5739719937753088"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_160"
          ><div class="md-text">
            Reporo
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5699257587728384"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_161"
          ><div class="md-text">
            Revcontent
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5762529972191232"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_162"
          ><div class="md-text">
            RevenueHits
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5750085036015616"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_163"
          ><div class="md-text">
            SelfAdvertiser
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5629652273987584"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_164"
          ><div class="md-text">
            Shareaholic Content Amplification
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5752571553644544"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_165"
          ><div class="md-text">
            SimpleReach
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5677751478517760"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_166"
          ><div class="md-text">
            Sitcomads
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5769928858664960"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_167"
          ><div class="md-text">
            SiteScout
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5688424874901504"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_168"
          ><div class="md-text">
            Skyword
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5652786310021120"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_169"
          ><div class="md-text">
            StackAdapt
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5717495361044480"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_170"
          ><div class="md-text">
            StartApp
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5659456662667264"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_171"
          ><div class="md-text">
            SynupMedia
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5754258133614592"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_172"
          ><div class="md-text">
            Taboola
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5765606242516992"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_173"
          ><div class="md-text">
            TapSense
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5749563331706880"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_174"
          ><div class="md-text">
            Target.My.com
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5647648723828736"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_175"
          ><div class="md-text">
            Traffic Broker
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5732312192909312"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_176"
          ><div class="md-text">
            Traffic Factory
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5161210659995648"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_177"
          ><div class="md-text">
            Traffic Force
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5690145009303552"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_178"
          ><div class="md-text">
            Traffic Holder
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5632908932939776"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_179"
          ><div class="md-text">
            Traffic Junky
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5692592335355904"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_180"
          ><div class="md-text">
            Traffic Shop
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5725851488354304"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_181"
          ><div class="md-text">
            TrafficHaus
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5707648880082944"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_182"
          ><div class="md-text">
            TrafficHunt
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5741053095182336"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_183"
          ><div class="md-text">
            TrafficStars
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5768939674009600"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_184"
          ><div class="md-text">
            Traflow
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5719238044024832"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_185"
          ><div class="md-text">
            Trellian
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5668753656250368"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_186"
          ><div class="md-text">
            Twitter
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5706163895140352"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_187"
          ><div class="md-text">
            Unity Ads
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5666083260334080"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_188"
          ><div class="md-text">
            VK.com
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5657382461898752"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_189"
          ><div class="md-text">
            Vungle
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5702797177651200"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_190"
          ><div class="md-text">
            WWWPromoter
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5657582312095744"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_191"
          ><div class="md-text">
            WebCollage
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5645784439586816"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_192"
          ><div class="md-text">
            Wigetmedia
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5742636757417984"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_193"
          ><div class="md-text">
            Yahoo
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5710999223009280"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_194"
          ><div class="md-text">
            Yahoo Gemini
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5756596743307264"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_195"
          ><div class="md-text">
            Yandex
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5099593180119040"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_196"
          ><div class="md-text">
            Zemanta
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5150623297175552"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_197"
          ><div class="md-text">
            ZeroPark
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5675267779461120"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_198"
          ><div class="md-text">
            maxvisits
          </div></md-option
        ><!----><md-option
          ng-repeat="source in $ctrl.sources"
          value="5674368789118976"
          tabindex="0"
          class="md-ink-ripple"
          role="option"
          aria-selected="false"
          id="select_option_199"
          ><div class="md-text">
            revisitors
          </div></md-option
        ><!---->
      </md-content></md-select-menu
    >
  </div></md-select
>
